<h1><%= item ? 'Edit Item' : 'New Item' %></h1>

<form
  method="POST"
  action="<%= item ? `/items/${item.id}/edit` : '/items/new' %>"
>
  <div>
    <label>Name</label><br>
    <input type="text" name="name" required value="<%= item ? item.name : '' %>">
  </div>

  <div>
    <label>Price</label><br>
    <input type="number" step="0.01" name="price" value="<%= item ? item.price : '' %>">
  </div>

  <div>
    <label>Quantity</label><br>
    <input type="number" name="quantity" value="<%= item ? item.quantity : '' %>">
  </div>

  <div>
    <label>Category</label><br>
    <select name="category_id" required>
      <% categories.forEach(cat => { %>
        <option value="<%= cat.id %>" <%= selectedCategoryId == cat.id ? 'selected' : '' %>>
          <%= cat.name %>
        </option>
      <% }) %>
    </select>
  </div>

  <div>
    <label>Platform</label><br>
    <input type="text" name="platform" value="<%= item ? item.platform : '' %>">
  </div>

  <div>
    <label>Condition</label><br>
    <input type="text" name="item_condition" value="<%= item ? item.item_condition : '' %>">
  </div>

  <div>
    <label>Release Date</label><br>
    <input type="date" name="release_date" value="<%= item ? item.release_date : '' %>">
  </div>

  <button type="submit"><%= item ? 'Update Item' : 'Create Item' %></button>
</form>

<a href="/categories/<%= selectedCategoryId %>">Cancel</a>
